<%include ../partials/header%>
<div class="ui raised very padded text container segment">
    <div class="ui container">
        <h1 class="ui header">Registry Items</h1>
        <a class="ui mini button" href="/">home</a>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui container">
    <div class="ui stackable three column grid">
        <% entries.forEach(function(entry) { %>
            <div class="column">
                <div class="ui segment">
                <% if(!entry.claimed) { %> 
                    <a href="/registry/<%= entry._id %>/edit">
                <% } %>
                    <h3><%= entry.item %></h3>
                    <img class="ui fluid image <% if(entry.claimed) { %> 
                        disabled <% } %>" src="<%= entry.imgUrl %>"/>
                    <% if(entry.claimed) { %>
                        <p>claimed already</p>
                    <% } else { %>
                        <p><a href="registry/<%= entry._id %>/edit">claim!</a></p>
                    <% } %>
            <% if(!entry.claimed) { %> </a> <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%include ../partials/footer%>
