<%include ./partials/header%>
<div class="ui container">
    <h1 class="ui header">Welcome Jon Froelich-Leon!</h1>
    <p>
        Thanks for stopping by! Please enjoy these photos.
        <a href="/registry">Go to the registry</a>
    </p>
    <p>Love,</p>
    <p>Xenia, Jon, and Ben Froelich-Leon</p>
</div>
<div class="ui divider"></div>
<div class="ui container">
    <div class="ui stackable four column grid">
        <div class="column">
            <a href="https://imgur.com/LWohgnx" class="ui medium image">
                The good news!
                <img src="https://i.imgur.com/LWohgnx.jpg"/>
            </a>
        </div>
        <div class="column">
            <a href="https://imgur.com/c0Jd2T8" class="ui large image">
                The first ultrasound
                <img src="https://i.imgur.com/c0Jd2T8.jpg"/>
            </a>
        </div>
        <div class="column">
            <a href="https://imgur.com/aHidMiq" class="ui large image">
                The second ultrasound - they're a boy!
                <img src="https://i.imgur.com/aHidMiq.jpg"/>
            </a>
        </div>
        <div class="column">
            <a href="https://imgur.com/42HSB1a" class="ui large image">
                Nesting 
                <img src="https://i.imgur.com/42HSB1a.jpg"/>
            </a>
        </div>
    </div>
</div>
<%include ./partials/footer%>
