<%include ./partials/header%>
<div class="ui container segment">
    <h1 class="ui header centered ">Welcome Jon Froelich-Leon!</h1>
</div>
<div class="ui divider"></div>
<div class="ui raised very padded text container segment">
    <p>Thanks for stopping by! We are excited to welcome Jon Froelich-Leon! 
    He's going to debut around the last week of September 2018.
    </p>
    <p>The shower will be held in Hayward, with a smaller celebration 
    occuring later in Santa Paula.</p>
    <p>Love,</p>
    <p>Xenia, Jon, and Ben Froelich-Leon</p>
    <a class="ui button" href="/registry">Go to the registry</a>
</div>
<div class="ui container">
    <div class="ui stackable two column grid">
        <div class="column">
            <a href="https://imgur.com/LWohgnx" class="ui medium image">
                <img src="https://i.imgur.com/LWohgnx.jpg"/>
            </a>
            <p>The good news!</p>
        </div>
        <div class="column">
            <a href="https://imgur.com/c0Jd2T8" class="ui large image">
                <img src="https://i.imgur.com/c0Jd2T8.jpg"/>
            </a>
            <p>The first ultrasound</p>
        </div>
        <div class="column">
            <a href="https://imgur.com/aHidMiq" class="ui large image">
                <img src="https://i.imgur.com/aHidMiq.jpg"/>
            </a>
            <p>The second ultrasound - we are having a boy!</p>
        </div>
        <div class="column">
            <a href="https://imgur.com/42HSB1a" class="ui large image">
                <img src="https://i.imgur.com/42HSB1a.jpg"/>
            </a>
            <p>Nesting</p>
        </div>
    </div>
</div>
<%include ./partials/footer%>
